.logon-container {
    width: 990px;
    margin: 0 auto;
}
.logon-header {
    background-color: #fafafa;
    .logon-logo {
        height: 115px;
        position: relative;
        h1 {
            height: 75px;
            position: absolute;
            top: 52px;
            left: 0;
        }
    }
    .logon {
        width: 988px;
        height: 600px;
        margin-top: 50px; 
        background-color: #fff;
        h5 {
            font-weight: 400;
            font-size: 28px;
            color: #000;
            padding-bottom: 30px;
            text-align: center;
        }
        .content {
            width: 338px;
            margin: 0 auto;
            div {
                p {
                    margin-top: 15px;
                    line-height: 38px;
                    position: relative;
                    overflow: hidden;
                    em {
                        position: absolute;
                        top: 12px;
                        left: 11px;
                    }
                    input {
                        width: 301px;
                        height: 38px;
                        line-height: 38px;
                        border: 1px solid #e8e8e8;
                        font-size: 12px;
                        background-color: transparent;
                        padding-left: 35px;
                    }
                }
                i {
                    display: none;
                    line-height: 16px;
                    font-size: 10px;
                    color: #d00000;
                    margin-top: 8px;
                    margin-bottom: -7px;
                    font-weight: 700;
                    padding-left: 18px;
                    font-style: normal;
                }
            }
            .register {
                width: 340px;
                height: 38px;
                font-size: 14px;
                background: #b32424;
                color: #fff;
                border: 0;
                border-radius: 2px;
                display: block;
                margin: 35px auto 0;
                line-height: 38px;
                text-align: center;
            }
            p {
                font-size: 12px;
                margin-top: 15px;
                line-height: 38px;
                position: relative;
                overflow: hidden;
                color: #666;
                a {
                    line-height: 1.5;
                    cursor: pointer;
                    color: #000;
                }
            }
        }
    }
}