.shop-main {
    width: 100%;
    background: #fff;
    font-size: 12px;
    min-height: 1000px;
    .shop-main-t {
        width: 100%;
        height: 36px;
        line-height: 36px;
        color: #666;
        margin-bottom: 18px;
        background-color: #eee;
        a {
            color: #666;
        }
    }
    .shop-main-mid {
        .left {
            width: 210px;
            height: 999px;
            background: #eee;
        }
        .right {
            width: 970px;
            .right-top{
                height: 36px;
                line-height: 36px;
                li {
                    display: block;
                    float: left;
                    width: 80px;
                    height: 36px;
                    text-align: center;
                    a {
                        display: inline-block;
                        height: 36px;
                        color: #666;
                        font-weight: 700;
                    }
                    .active {
                        color: #cc9952;
                        border-bottom: 3px solid #cc9952;
                    }
                    a:hover {
                        color: #cc9952;
                        border-bottom: 3px solid #cc9952;
                    }
                }
            }
            .shop-list {
                ul {
                    margin-right: -8.6px;
                    li {
                        position: relative;
                        font-size: 12px;
                        width: 236px;
                        height: 450px;
                        display: block;
                        overflow: hidden;
                        float: left;
                        margin: 10px 8.6px 10px 0;
                        a:nth-of-type(1) {
                            display: block;
                            overflow: hidden;
                            width: 220px;
                            height: 275px;
                            margin: 10px auto 5px auto;
                            position: relative;
                            text-align: center;
                            position: relative;
                            img {
                                position: absolute;
                                left: 50%;
                                margin-left: -137.5px;
                                background-color: #fff;
                                width: auto;
                                height: 275px;
                            }
                        }
                        .content {
                            margin: 0 16px;
                            padding-bottom: 20px;
                            line-height: 18px;
                            p:nth-of-type(1) {
                                overflow: hidden;
                                margin-bottom: 10px; 
                                em {
                                    margin-top: 15px;
                                    font-style: normal;
                                    position: relative;
                                    top: -2px;
                                    display: inline-block;
                                    padding: 0 2px;
                                    background: linear-gradient(270deg,#ff8080 0,#e65c5c 100%);
                                    border-radius: 2px;
                                    color: #fff;
                                }
                                span:nth-of-type(1) {
                                    margin-right: 2px;
                                    color: #e65c5c;
                                    font-size: 16px;
                                    font-weight: 700;
                                } 
                                span:nth-of-type(2) {
                                    color: #666;
                                    font-size: 16px;
                                    font-weight: 400;
                                    i {
                                        font-style: normal;
                                    }
                                }
                            }
                            a {
                                text-align: left;
                                width: 204px;
                                height: 36px;
                                line-height: 18px;
                                margin-bottom: 8px;
                                color: #666;
                                overflow: hidden;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                word-break: break-all;
                                display: -webkit-box;
                            }
                            .sale {
                                display: block;
                                margin-bottom: 4px;
                                color: #999;
                            }
                            p:nth-of-type(2) {
                                background: 0 0;
                                border: 1px solid #cc9952;
                                color: #cc9952;
                                padding: 0 7px;
                                border-radius: 2px;
                                line-height: 16px;
                                display: inline-block;
                                margin-top: 8px;
                            }
                            p:nth-of-type(3) {
                                display: none;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 236px;
                                display: none;
                                background: #fff;
                                text-align: center;
                                a {
                                    display: block;
                                    border: 1px solid #eee;
                                    box-sizing: border-box;
                                    width: 50%;
                                    text-align: center;
                                    line-height: 28px;
                                    color: #cc5252;
                                }
                            }
                        }
                    }
                    li:hover {
                        box-shadow: 1px 1px 8px 1px rgba(0,0,0,.2);
                        p:nth-of-type(3) {
                            display: block;
                            z-index: 44;
                        }
                    }
                }
            }
        }
    }
}