.content-main {
    margin: 20px 0;
    .detail-left {
        width: 500px;
        .img {
            width: 498px;
            height: 498px;
            border: 1px solid #eee;
            position: relative;
            overflow: hidden;
            display: table-cell;
            vertical-align: middle;
            img {
                width: auto;
                height: auto;
                position: absolute;
                background-color: #fff;
                left: 0;
                display: none;
                top: 0;
            }
            img:nth-child(1){
                display: block;
            }
        }
        .s-img {
            width: 440px;
            overflow: hidden;
            position: relative;
            height: 80px;
            margin-top: 15px;
            margin-left: 30px;
            ul {
                margin-right: -10px;
                li {
                    border: 1px solid #ccc;
                    float: left;
                    display: block;
                    cursor: pointer;
                    width: 80px!important;
                    height: 80px!important;
                    opacity: .4;
                    margin-right: 10px;
                    a {
                        img {
                            width: auto;
                            height: 64px;
                            max-width: 64px;
                            margin: 0 auto;
                            display: block;
                        }
                    }
                }
                .active {
                    opacity: 1;
                }
            }
        }
    }
    .detail-right {
        font-size: 12px;
        width: 700px;
        .title {
            font-size: 16px;
            color: #333;
            font-weight: 700;
            line-height: 21px;
            margin-bottom: 7px;
            margin-top: 20px;
            padding-left: 10px;
        }
        .title2{
            color: #ccaa7a;
            padding-left:20px ;
        }
        .model {
            margin-top: 24px;
            font-size: 12px;
            color: #999;
            line-height: 16px;
            padding-left: 10px;
            margin-bottom: 8px;
            div {
                float: left;
            }
            div:nth-child(1) {
                width: 260px;
            }
            div:nth-child(2) {
                width: 150px;
            }
            div:nth-child(3) {
                width: 150px;
            }
            div:nth-child(4) {
                float: right;
            }
        }
        .price {
            position: relative;
            padding: 16px 0 26px 0;
            background: #f1f1f1;
            display: block;
            border-radius: 4px;
            .price-fq {
                margin: 11px 0 4px 16px;
                position: relative;
                .fq {
                    width: 36px;
                    line-height: 18px;
                    color: #e65c5c;
                    font-size: 12px;
                    text-align: right;
                    position: absolute;
                    font-weight: 700;
                    bottom: 0;
                }
                .times {
                    margin-left: 50px;
                    line-height: 16px;
                    cursor: pointer;
                    color: #666;
                    span {
                        font-size: 12px;
                        color: #666;
                        font-weight: 700;
                        em {
                            position: relative;
                            right: -2px;
                            font-size: 16px;
                            color: #e65c5c;
                            font-weight: 700;
                        }
                        i {
                            font-style: normal;
                            font-size: 28px;
                            color: #e65c5c;
                            margin-right: 5px;
                        }
                    }
                }
            }
            .market {
                margin-left: 16px;
                position: relative;
                .wb {
                    width: 36px;
                    color: #999;
                    font-size: 12px;
                    text-align: right;
                    position: absolute;
                    bottom: 3px;
                }
                .wb-price{
                    margin: 2px 0;
                    margin-left: 52px;
                    position: relative;
                    span {
                        position: relative;
                        right: -2px;
                        font-size: 14px;
                    }
                    span:nth-child(1) {
                        font-weight: 700;
                        color: #444;
                    }
                }
            }
            .discount {
                position: relative;
                margin: 11px 0 4px 16px;
                .sale {
                    width: 36px;
                    line-height: 18px;
                    color: #e65c5c;
                    font-size: 12px;
                    text-align: right;
                    position: absolute;
                    font-weight: 700;
                    bottom: 0;
                }
                .d-cont{
                    font-size: 12px;
                    margin-left: 50px;
                    line-height: 16px;
                    cursor: pointer;
                    span{
                        color: #e65c5c;
                        font-weight: bold;
                    }
                    a {
                        color: #666;
                    }
                }
            }
        }
        .send {
            margin-top: 20px;
            margin-left: 16px;
            position: relative;
            .send-l {
                width: 36px;
                line-height: 16px;
                color: #999;
                font-size: 12px;
                text-align: right;
                position: absolute;
                bottom: 0;
            }
            .send-r {
                margin-left: 52px;
                color: #666;
                line-height: 16px;
                i {
                    color: #ccaa7a;
                    font-style: normal;
                }
            }
        }
        .promise {
            margin-top: 20px;
            margin-left: 16px;
            position: relative;
            .promise-l {
                width: 36px;
                line-height: 16px;
                color: #999;
                text-align: right;
                position: absolute;
                top: 0;
            }
            .promise-r {
                margin-left: 52px;
                color: #666;
                line-height: 16px;
                width: 560px;
                li {
                    float: left;
                    color: #666;
                    line-height: 16px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    cursor: pointer;
                    position: relative;
                    list-style: disc;
                }   
                li:hover {
                    color: #ccaa7a;
                }
            }
        }
        .service {
            margin-top: 20px;
            margin-left: 16px;
            position: relative;
            .service-l {
                width: 36px;
                line-height: 16px;
                color: #999;
                text-align: right;
                position: absolute;
                bottom: 0;
            }
            .service-r {
                margin-left: 52px;
                color: #666;
                line-height: 16px;
                a {
                    float: left;
                    line-height: 18px;
                    margin-right: 10px;
                    height: 18px;
                    border-radius: 20px;
                    border: 1px solid #ccaa7a;
                    display: block;
                    span {
                        color: #ccaa7a;
                        line-height: 18px;
                        margin-left: 8px;
                        margin-right: 4px;
                    }
                }
            }
        }
        .style {
            margin-top: 24px;
            margin-left: 16px;
            .style-l {
                color: #999;
                font-size: 12px;
                line-height: 16px;
                width: 36px;
                text-align: right;
            }
            .style-r {
                margin-left: 16px;
                width: 600px;
                a {
                    float: left;
                    height: 52px;
                    padding: 2px 10px 2px 6px;
                    border: 1px solid #ddd;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    display: block;
                    position: relative;
                    color: #666;
                    span {
                        float: left;
                        font-size: 12px;
                        color: #333;
                        line-height: 52px;
                        margin-left: 10px;
                        max-width: 200px;
                        height: 52px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        img {
                            float: left;
                            margin-top: -2px;
                        }
                    }
                }
            }
        }
        .number {
            margin: 14px 0 0 16px;
            .number-l {
                color: #999;
                line-height: 20px;
                width: 36px;
                text-align: right;
            }
            .number-r {
                height: 20px;
                display: block;
                margin-left: 16px;
                span {
                    float: left;
                    width: 19px;
                    height: 19px;
                    text-align: center;
                    border: 1px solid #ccc;
                    font-size: 14px;
                    line-height: 19px;
                    color: #999;
                    cursor: pointer;
                }
                input {
                    float: left;
                    outline: 0;
                    width: 48px;
                    height: 15px;
                    text-align: center;
                    font-size: 12px;
                    line-height: 19px;
                    color: #333;
                    border: 0;  
                    border-top: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                }
            }
        }
        .button {
            margin-top: 24px;
            position: relative;
            .pay {
                width: 180px;
                height: 44px;
                line-height: 44px;
                font-size: 14px;
                color: #fff;
                background-color: #cc5252;
                background-image: linear-gradient(90deg,#cc5252 3%,#b32424 100%);
                margin-left: 10px;
                text-align: center;
                font-weight: 700;
                cursor: pointer;
            }
            .add {
                width: 120px;
                height: 42px;
                line-height: 42px;
                color: #666;
                border: 1px solid #ccc;
                text-align: center;
                background-image: none;
                background-color: #fff;
                margin-left: 10px;
            }
        }
    }
}
